{% extends "base.html" %}

{% block content%}
    <div>
        <h1>{{ usergroup.name }}</h1>
        <h2>{{ usergroup.about }}</h2>
{#        <a href="">Recent</a>#}
{#        <a href="">Popular</a>#}

        {% if mbrship %}
            <div class="panel right">
                <h1>Post</h1>
                <p>
                    <form action="/submit" method="post">
                        {% for field in comments_form %}{% csrf_token %}
                            {{ field }}
                        {% endfor %}
                        <input type="hidden" value="{{ next_url }}" name="next_url">
                        <input type="submit" value="Post!">
                    </form>
                </p>
            </div>
        {% elif loggedin %}
            <div>
                <p>
                    <a href="{% url 'myapp.views.join_group' usergroup.usergroup_id %}">Join this group!</a>
                </p>
            </div>
        {% endif %}

        <h2>Comments</h2>
        {% for comment in comments %}
        <div>
            <span class="name">{{ comment.makecomment_set.get.user.username }}</span>
            <span class="time">{{ comment.makecomment_set.get.posting_time }}</span>
            <p>said: {{ comment.text }}</p>
        </div>
        {% endfor %}

        <h2>Group Users</h2>
        {% for belongsto_relation in usergroup.belongsto_set.all %}
            <div>
                {% if belongsto_relation.user.user_id == usergroup.admin.user_id %}
                    <a href="{# {% url 'myapp.views.index' belongsto_relation.user.user_id %} #}"><mark>{{ belongsto_relation.user.username }}</mark></a>
                {% else %}
                    <a href="{# {% url 'myapp.views.index' belongsto_relation.user.user_id %} #}">{{ belongsto_relation.user.username }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
